*{margin:0; padding:0;}
.erros, .ok{
	margin:0;
	width:100%;
	padding:10px 0 10px 0;
	background-color:rgb(255,190,190);
	border-radius:10px;
	margin-bottom:5px;
}

#formulario input:not(#email), .frm-medio input:not(#email){
	text-transform:uppercase;
	font-family:Roboto;
    letter-spacing:1px;
}

.ok{
	background-color:rgb(200,255,200);
}


body{
	font-family: "Trebuchet MS", tahoma, arial;
}

header.quadro{
	padding-top:10px;
	padding-bottom:10px;
}

#formulario{
	width:500px;
	margin:50px auto;
	text-align:center;
	position:relative;
}

#formulario h2, #formulario h3{
	font:22px "Trebuchet MS", tahoma, arial;
	color:#33B1DE;
	width:100%;
	float:left;
	text-align:left;
	margin-bottom:4%;
}

#formulario h3{color:#333; font-size:17px;}

#formulario fieldset{
	background:white;
	border:0 none;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	box-shadow:0 0 15px 1px rgba(0,0,0, 0.4);
	padding:20px 30px;

	box-sizing: border-box;
	width:96%;
	margin:0 2%;
	position:absolute;
}

#formulario fieldset:not(:first-of-type){
	display:none;
}

#formulario input, #formulario textarea{
	padding:10px;
	border:1px solid rgba(51, 121, 222, 0.5);
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	outline:none;
	box-sizing: border-box;
	width:100%;
	font:14px "Trebuchet MS", tahoma, arial;
	color:rgba(51, 121, 222, 1);
	margin-left:0;
	margin-bottom:10px;
}
#formulario .acao{
	width:120px;
	background:rgba(51, 121, 222, 0.7);
	color:white;
	text-transform:uppercase;
	font-weight:bold;
	padding:12px 0;
	float:left;
}
#formulario .acao:hover{
	background:rgba(51, 121, 222, 0.4);
	cursor:pointer;}

#formulario #progress{
	margin-bottom:30px;
	overflow:hidden;

	counter-reset: step;
}

#formulario #progress li{
	list-style-type:none;
	font-weight:bold;
	text-transform:uppercase;
	font-size:9pt;
	float:left;
	width:33.33%;
	color:rgb(80,80,80);
	position:relative;
}

#formulario #progress li:before{
	content: counter(step);
	counter-increment: step;
	width:20px;
	display:block;
	line-height:20px;
	background:white;
	color:#333;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;

	margin:0 auto 10px auto;
}

#formulario #progress li:after{
	content: '';
	width:100%;
	background:white;
	height:2px;
	position:absolute;
	top:9px;
	left:-50%;
	z-index:-1;
}
#formulario #progress li:first-child:after{
	content:none;
}

#formulario #progress li.ativo:before, #formulario #progress li.ativo:after{
	background:rgba(10, 161, 222, 1);
	text-shadow:0 1px 0;
}
fieldset h3, fieldset h3 a{
	text-decoration:none;
	color:rgba(51, 121, 222, 1);
}

fieldset h3 a:hover{
	text-decoration:none;
	color:#47AFDB;
}
#formulario fieldset #lSelect, #formulario fieldset #lSelect .lOption{
	font:22px "Trebuchet MS", tahoma, arial;
	color:#33B1DE;
	width:100%;
	float:left;
	text-align:left;
	margin-bottom:4%;
	color:#333; 
	font-size:17px;
	background-color:rgba(51, 121, 222, 0.15);
	border:none;
	padding-top:10px;
	padding-bottom:10px;
	box-shadow:none;
	border-radius:5px;
	padding-left:5px;
}


#frm-cad-select{
	font:22px "Trebuchet MS", tahoma, arial;
	color:#33B1DE;
	width:90px;
	float:left;
	text-align:left;
	color:#333; 
	font-size:17px;
	background-color:rgba(51, 121, 222, 0.15);
	border:none;
	box-shadow:none;
	border-radius:5px;
	padding-left:5px;
	padding-bottom:7px;
	padding-top:7px;
	margin-bottom:20px;
}

/* FORMULARIO MÉDIO CLASSES*/

.frm-medio{
	width:650px;
	margin:0px auto;
	text-align:center;
	position:relative;
}

.frm-medio h2, .frm-medio h3{
	font:22px "Trebuchet MS", tahoma, arial;
	color:#33B1DE;
	float:left;
	width:100%;
	text-align:left;
	margin-bottom:10px;
}
.frm-medio h3{
	padding-left:15px;
	margin-left:7px;
	width:250px;
	box-sizing:border-box;
	
}
.frm-medio h3{color:#333; font-size:17px;}

.g_to_left h3, .g_to_left input{
	float:left;
}
.g_to_left h3{
	width:120px;
	padding:7px;
}
.g_to_left input.maior{
	width:109px;
}

fieldset#frm_menor input{
	float:left;
}
.frm-medio fieldset{
	background:white;
	border:0 none;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0 0 15px 1px rgba(0,0,0, 0.4);
	padding:20px 30px;
	box-sizing: border-box;
	width:96%;
	margin:0 2%;
	position:absolute;
}

.frm-medio fieldset:not(:first-of-type){
	display:none;
}

.frm-medio input, .frm-medio textarea{
	padding:10px;
	float:left;
	border:1px solid rgba(51, 121, 222, 0.5);
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	outline:none;
	box-sizing: border-box;
	width:250px;
	font:14px "Trebuchet MS", tahoma, arial;
	color:rgba(51, 121, 222, 1);
	margin-left:0;
	margin-bottom:10px;
}
.frm-medio .acao{
	width:120px;
	background:rgba(51, 121, 222, 0.7);
	color:white;
	text-transform:uppercase;
	font-weight:bold;
	padding:12px 0;
	float:left;
}
.frm-medio .acao:hover{
	background:rgba(51, 121, 222, 0.4);
	cursor:pointer;
}

.frm-medio #progress{
	margin-bottom:30px;
	overflow:hidden;
	counter-reset: step;
}

.frm-medio #progress li{
	list-style-type:none;
	font-weight:bold;
	text-transform:uppercase;
	font-size:9pt;
	float:left;
	width:33.33%;
	color:rgb(80,80,80);
	position:relative;
}

.frm-medio #progress li:before{
	content: counter(step);
	counter-increment: step;
	width:20px;
	display:block;
	line-height:20px;
	background:white;
	color:#333;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;

	margin:0 auto 10px auto;
}

.frm-medio #progress li:after{
	content: '';
	width:100%;
	background:white;
	height:2px;
	position:absolute;
	top:9px;
	left:-50%;
	z-index:-1;
}
.frm-medio #progress li:first-child:after{
	content:none;
}

.frm-medio #progress li.ativo:before, .frm-medio #progress li.ativo:after{
	background:rgba(10, 161, 222, 1);
	text-shadow:0 1px 0;
}
fieldset h3, fieldset h3 a{
	text-decoration:none;
	color:rgba(51, 121, 222, 1);
}

fieldset h3 a:hover{
	text-decoration:none;
	color:#47AFDB;
}