@charset 'utf-8';
html{
overflow-y:hidden;
}
#view{
	position:relative;
	background-color:rgba(216, 223, 234,1);
}


header{
	height:50px;
	border:none;
	box-sizing:content-box;
	margin:0;
	padding:0;
}
header img#set{
	 float:left;
	 filter:invert(100%);
	 height:60%;
	 margin-left:15px;
	 margin-top:10px;	 
	 
}
header h1{
	margin-top:13px;
}

header figure{
	display:inline-block;
	margin:0;
	padding:0;
	position:relative;
	float:right;
	margin-right:2px;
	padding:3px;
	transition:all .5s;
	height:100%;
	width:50px;
	box-sizing: border-box;
}
header figure:hover{
	transition:all .5s;
	cursor:pointer;
	background-color:rgba(255,255,255,.1);
}
header figure img{
	position:relative;
	margin:0;
	padding:0;
	height:30px;
	width:30px;
	margin:7px;
	filter:invert(100%);
	
}


/* menu de gerenciamento */

ol, ul{
	list-style:none;
	padding:0px;
}
ol{
	background-color:rgba( 59, 89, 152,1);
	width:280px;
	height:auto;
	box-shadow: 0px 1px 1px  rgba(0, 0, 30,.2);
	display:inline-block;
	position:relative;
	top:0;
	margin-top:0;
	padding-left:10px;
}
li{
	margin:0;
	display:block;
	position:relative;
	left:0;
	padding:20px 0 20px 50px;
	background-repeat:no-repeat;
	background-position: center left;
	background-size:30px 30px;
	color:black;
	filter:invert(100%);
	cursor:pointer;
	font-family: 'Roboto', sans-serif;
	font-size:11pt;
}

ol li{
	background-image:url(../midia/settings.png);
	border-top:1px rgba(18,15,46,.1) solid;
	border-bottom:1px rgba(218,215,146,.1) solid;
	transition: all .1s;
}

ol li#hg1{background-image:url("../midia/group.png");}
ol li#hg2{background-image:url('../midia/id-card.png');}
ol li#hg3{background-image:url('../midia/tag.png');}
ol li#hg4{background-image:url('../midia/car.png');}
ol li#hg5{background-image:url('../midia/shopping-cart.png');}


li#hg1:hover, li#hg2:hover, li#hg3:hover, li#hg4:hover, li#hg5:hover{
	filter:invert(70%);
	background-color:transparent;
}
li#hg1, li#hg2, li#hg3, li#hg4, li#hg5{
	background-color:transparent;
	padding-left:55px;
	margin-left:5px;
}
ul li#a1:hover, li#a2:hover, li#b1:hover, li#b2:hover, li#cc1:hover, li#cc4:hover, li#dd1:hover, li#dd2:hover,li#e1:hover,li#e2:hover,li#e3:hover,li#e4:hover{
	background-color:transparent;
}

ul li#a1, li#a2, li#b1, li#b2, li#cc1, li#cc4, li#dd1, li#dd2,li#e1,li#e2,li#e3,li#e4{
	padding-left:60px;
}
#u1, #u2, #u3, #u4, #u5{
	background-color:rgba(109, 132, 180, 1);
	margin-left:-10px;
	padding-left:15px;
	
}


ul{
	margin:0;
	background-color:rgba(109, 132, 180, 1);
}
ul li{
	
	cursor:default;
	background-image:none;
	border:none;
	border-right: 7px groove rgba(255,255,255,.2);
	cursor:pointer;
	box-sizing:border-box;
	margin:0;
}

ul li#a1{background-image:url('../midia/add-user.png'	);}
ul li#a2{background-image:url('../midia/group.png'		);}
ul li#b1{background-image:url('../midia/id-card.png'	);}
ul li#b2{background-image:url('../midia/add-user.png'	);}
ul li#cc4{background-image:url('../midia/edit-1.png'		);}
ul li#cc1{background-image:url('../midia/ic_assignment_black_24dp_2x.png');}
ul li#dd2{background-image:url('../midia/ic_directions_car_black_24dp_2x.png'		);}
ul li#dd1{background-image:url('../midia/ic_assignment_black_24dp_2x.png'	);}
ul li#e1{background-image:url('../midia/ped-re.png'		);}
ul li#e2{background-image:url('../midia/ped-anda.png'	);}
ul li#e3{background-image:url('../midia/ped-pen.png'	);}
ul li#e4{background-image:url('../midia/add-cart.png'	);}

/*menu*/
ol#menu{
	background-color:rgba( 59, 89, 152,1);
	top:-1px;
	position:absolute;
	right:0;
	top:50px;
	z-index: 444;
}
#menu li{color:rgb(80,80,80);}
#menu li:hover{
	filter:invert(100%);
	color:black;
}
ol#menu li#x1{background-image:url(../midia/coffee-cup.png);}
ol#menu li#x2{background-image:url(../midia/backup.png);}
ol#menu li#x3{background-image:url(../midia/bugs-search.png);}


ol#menu li#x2:hover{background-image: url('../midia/add.png');}
/* iframe */

iframe#atividades{
	position:absolute;	height:93%;
	width:100%;
	box-sizing:content-box;
	float:right;
	border:none;
	box-shadow:none;
}

div#desligar img, div#renovar img{
	height:100px;
	width:100px;
	filter:invert(100%);
	position:relative; 
	left:50%;
	right:50%;
	margin-left:-50px;
	margin-right:-50px;
	
}
div#desligar, div#renovar{
	position:fixed;
	top:50%;
	left:50%;
	bottom:50%;
	right:50%;
	margin-left:-250px;
	margin-right:-250px;
	margin-bottom:-120px;
	margin-top:-120px;
	background-color:rgba(175, 189, 212,1);
	z-index:445;
	height:300px;
	width:500px;
	display:none;
	box-shadow:0px 0px 5px black;
	padding:10px;
	border-top:20px solid rgb( 59, 89, 152);
}

div#desligar p, div#renovar p{
	color:rgb(80,80,80);
	text-align:center;
	font-size:14pt;
	font-family:Roboto;
	margin-top:-10px;
}
button#fechar{
	filter:invert(100%);
	height:20px;
	width:50px;
	border:none;
	position:relative;
	float:right;
	margin-right:-10px;
	background-color:rgb( 0, 200, 200);
	margin-top:-30px;
	background-image:url(../midia/cancel-2.png);
	background-size:19px 19px;
	background-position:center center;
	background-repeat:no-repeat;
	
}
button#fechar:hover{
	z-index:443;
	cursor:pointer;
	
}


button.btn{
	background-color:rgba(59, 89, 152,1);
	height:40px;
	width:150px;
	border:1px solid rgba(100,100,100,.5);
	color:white;
	font-family:Helvetica;
	font-size:14pt;
	display:inline-block;
	margin-left:10px;
	position:relative;
	bottom:0;
	right:0;
	float:right;
}

.msg-btns{
	margin:auto auto 20px auto;
	padding:0;
	position:absolute;
	right:0;
	bottom:0;
	box-sizing:content-box;
	width:100%;
	padding:20px;
	padding-right:20px;
}
button#sim{
	background-image:url('../midia/power-button.png');
	background-size:20px 20px;
	background-position:10px center ;
	background-repeat:no-repeat;
	background-color:rgba(196, 166, 103,1);
	filter:invert(100%);
	color:black;
	text-indent:15px;
}
button#nao{
	filter:invert(100%);
	background-image:url(../midia/cancel.png);
	background-size:19px 19px;
	background-position:10px 10px;
	color:black;
	background-repeat:no-repeat;
	background-color:rgba(196, 166, 103,1);
	text-indent:15px;
}
button.btn:hover{
	transition:all .2s;
	cursor:pointer;
}



#preloader {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: rgba(59, 89, 152,1);
    z-index:999;
    background-image:url();
    background-repeat:no-repeat;
    background-position:center center;
    background-size:10%;
}
#preloader img{
	position:absolute;
	left:50%;
	right:50%;
	margin-left:-25px;
	margin-right:-25px;
	top:50%;
	bottom:50%;
	margin-top:-25px;
	margin-bottom:-25px;
	height:50px;
	width:50px;
}

#preloader p{
	color:white;
	text-align:center;
	margin-top:36%;	
}
#preloader p#aviso{
	position:absolute;
	text-align:center;
	width:100%;
	bottom:1%;
	color:white;
}