@charset 'UTF-8';

html{
	overflow: hidden; 
}
/* View */

div#view{

    background-image: linear-gradient(to right, black 0%,white 100%), url('../midia/computer-1185626.jpg');
    background-blend-mode:saturation;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.backimg{
	position:absolute;
	top:30%;
	left:100px;
	height:400px;
}
div#view-center{
	background-color:rgba( 216, 223, 234,.9);
	display:block;
	position:absolute;
	width:350px;
	height:100%;
	right:0;
	padding:27px;
	padding-top:100px;
	box-sizing:border-box;
}


form label{
	color:black;
	font-family: Roboto;
	font-size:14pt;
}
form input{
	color:black;
	padding:5px 6px;
	width:100%;
	margin-bottom:15px;
	font-size:14pt;
	box-sizing:border-box;
	font-weight:100;
	font-family:sans-serif;
	border:rgba(240,240,240,.6) 1px solid;
	background-color:rgba(240,240,240,1);
	border-radius:3px;
}
form input#env{
	color:black;
	display:block;
	float:right;
	width:190px;
	height:40px;
	padding:0;
	border-radius:3px;
	position:absolute;
	left:50%;right:50%;margin-right:-60px;margin-left:-90px;margin-top:20px;
	font-size:11pt;
	background-color:rgba(240,190,150,.7);
	border:none;
	background-position:70px center;
	text-align:center;
	transition: background 1s, padding-right 1s;
	font:20px Roboto;
	background-image:url('../midia/key.png');
	background-repeat:no-repeat;
	background-position:10px 5px;
	background-size:30px;
	filter:invert(100%);
	
}

form input#env:hover{
	transition: all 1s;
	background-color:rgba(240,190,150,.4);
	cursor:pointer;
}

div#view-center p{
	color:black;
	font-weight:100;
	font-size:11pt;
	text-align:justify;
	font-family:sans-serif;
	margin-top:-30px;
	margin-left:30px;
	display:block;
	background-color:rgb(230,230,255);
	border:1px solid rgb(180,180,180);
	border-radius:1px;
	padding:20px;
}
div#view-center span img{
	display:block;
	height:20px;
	width:20px;
	margin-top:10px;
}

div#view-center span img{
	
	margin-top:100px;
}

#view-center-img {
	box-sizing:border-box;
	margin:0;
}
#view-center-img img{
	display:block;
	height:110px;
	position:relative;
	left:50%;
	right:50%;
	margin-left:-55px;
	margin-right:-55px;
	margin-bottom:30px;
	filter:invert(100%);
}
