@charset 'utf-8';

header.quadro{
	background-color:rgba(109, 132, 180,1);
	position:fixed;
	width:100%;
	text-align:center;
	font-family:roboto;
	padding:20px;
	z-index:999999;
}

header.quadro h1{
font-size:22pt;
}
div#view{
	background-color:rgba(0,0,0,0);
	padding:0;
	margin:0;
	padding-top:80px;
}


.btnAlterar{
	background-color:rgba(0,65,100,.5);
	color:white;
	font-family:Helvetica;
	height:40px;
	width:120px;
	text-align:center;
	border:none;
	margin-left:40px;
	transition: all .5s;
}
td.btnAlterar{
	padding:0;
	margin:0;
	width:20px;
	height:20px;
}
button.btnAlterarDeTd{
	padding:0;
	margin:0;	
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	right:0;
	font-size:12pt;
}

.btnAlterar:hover{
	background-color:rgba(100,165,200,.5);
	transition: all .5s;
}

form{
	margin:0px;
}

form label{
	color:black;
	font-family:Helvetica;
	font-size:14pt;
	margin:20px;
	
}
form input{
	position:relative;
	padding-left:20px;
	padding:10px 20px 10px 20px;
	border:none;
	margin:20px;
	margin-top:0;
	font-size:12pt;
}


header h1{
	color:white;
}



.inline-block{
	display:inline-block;
}


.erros{
	background-color:rgb(240,240,240);
	border:5px solid rgb(240,240,240);
}
::-webkit-scrollbar {background: rgba(255,255,255,.1);} /* barra de rolagem toda */ 
::-webkit-scrollbar-thumb {background: rgba( 59, 89, 152,1);} /* parte da barra que se movimenta */ 
::-webkit-scrollbar-button {background:rgba(255,255,255,.1);} /* ponta da barra de rolagem */ 
::-webkit-scrollbar-track {background:rgba(216, 223, 234,.1);} /* fundo da barra de rolagem, parte fixa */ 
::-webkit-scrollbar-track-piece {background:rgba(255,255,255,.1);} /* fundo da barra de rolagem, parte que ainda falta rolar */ 
::-webkit-scrollbar-corner {background:rgba(255,255,255,.1);} /* canto inferior direito da barra de rolagem */




/*mopdificação do materialize*/
.pagination{
	position:absolute;
	bottom:15px;
	text-align:center;
}
