@Charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Body */

body{
	padding:0;
	margin:0;
}

/* View */
#tosigla{
	font-size:16pt;
	font-weight:300;
	border-left:solid 1px rgba(255,255,255,.5);
	padding-left:7px;
}
div#view{
	display:block;
	margin:0;
	padding:0;
	position:absolute;
	width:100%;
	height:100%;	
}



/* header and footer */
header{
	background-color:rgba( 59, 89, 152,1);
	display:block;
	width:100%;
	position:relative;
	top:0;
	height:auto;
	border-bottom:rgb(49, 79, 132) 1px solid;
	padding:20px;
}
header h1{
	display:inline-block;
	color:white;
	font-weight:300;
	text-indent:10px;
	position:relative;
	font:18pt Roboto;
	padding:0;
	margin:0;
}

footer{
	display:block;
	width:100%;
	background-color: rgba(46,92,209,.1);
	position:absolute;
	bottom:0;
	height:5%;
	border-top:6px #668CD9 solid;
}
	/*tela de login*/



